*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* Navbar Section */
.navbar{
    background-color: black;
    color: white;
    position: relative;
}
.li-titles{
    position: absolute;
    right: 40px;
    top: 15px;
    font-weight: bold;
    font-size: 0.4em;

}
.navbar li{
    display: inline-block;
    padding: 10px;
}

.av-icon{
    width: 70px;
    height: 70px;
}

/* Image Section */
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wraptxtnimg{
    position: relative;
}

/* Text Section */

h1{   
    font-weight: 900;
    font-size: 0.8em;
}

p {
    font-size: 0.3em;
}
section {

    background-image: url("bgimag.jpg");
    height: 90vh;
    font-size: 50px;

}

.txtarea{
    line-height: 1;
    width: 70%;
    position: absolute;
    top:  30%;
    left: 3%;
    background-color: rgb(255 255 255 / 29%);

}
@media all and (min-width: 480px) and (max-width: 768px) { 
.textarea h1 {font-size: 25px
}
.navbar {
    color: black;
    background-color: lightgreen;
}
}

@media all and (max-width: 480px) { 
.textarea h1 {
    font-size: 35px;
}
.navbar {
    color: black;
    background-color: yellow;
}}

@media all and (min-width: 1200px) {
    .navbar {
        color: white;
        background-color: black;
    }
     h1 {
        float: left;
        width: 40%;
        display: inline-block;
    }
    p {
        max-width: 40%;
        display: inline-block;
       
    }

}

@media all and (min-width: 992px) and (max-width: 1199px){
    .navbar {
        color: white;
        background-color: red;

    }
    .txtarea {
        width: 80vw;
        
    }

  h1 {
        float: left;
        width: 40%;
        display: inline-block;
    }
    p {
        max-width: 40%;
        display: inline-block;
       
    }


}