/*GENERAL CSS*/

div {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.greenbox {
    background-color: #A4E6A4;
}

.purplebox {
    background-color: #CEAAF0;
}

.pinkbox{
    background-color: #F288D5;
}

.bluebox{
    background-color: #438EEA;
    grid-column:  1/span 2;
    grid-row: 1/span 1;
}

.yellowbox{
    background-color: #F4ED79;
    grid-row: 2/span 3;
    grid-column: 2/span 2;
}

.redbox{
    background-color: #F8394F;
}

.redbox7{
    background-color: #F8394F;
}

.greybox {
    background-color: darkgrey;
}
.realgreenbox {
    background-color: green;
}
.orangebox {
    background-color: orange;
}
/* -------------------- */

/*on the parent*/
.sectiongrid{
    border: 1px solid black;
    background-color:gainsboro;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px 30px;

    padding: 1rem;
}

