@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: lightslategrey;
  color: #9b7237;
  font-size: 1.1rem;
}

h1 {
  font-size: 1.5rem;
  padding: 1em 0 0;
  color: black;
}

.wrapper {
  text-align: center;
  padding: 0.2em;
  min-height: 100vh;
}

main {
  background: silver;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin-top: 1.6em;
  padding: 1.3em;
  /*box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);*/
}

input[type='text'],
input[type='number'],
select {
  width: 100%;
  padding: 1em;
  border-radius: 0.1em;
  border: 1px solid #acacac;
  background-color: #acacac ;
  color: #1b1820;
  margin-bottom: 1em;
}

input[type='text']:focus,
button:focus {
  outline: 3px solid #acacac;
}

label {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

button {
  display: block;
  width: 100%;
  padding: 0.7em;
  text-align: center;
  color: black;
  background: #9b7237;
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 0.9em;
  border: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url('https://www.pngrepo.com/png/155474/512/down-arrow.png');
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
  cursor: pointer;
}

.blink {
  margin-top: 1em;
  font-size: 1.5rem;
  color: black;
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: 2rem;
  }

  label {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  label {
    font-size: 2rem;
  }
  input[type='number'] {
    font-size: 1.85rem;
  }
  select {
    font-size: 1.85rem;
  }

  main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  main .exchange-btn {
    width: 40%;
    align-self: center;
  }
  .blink {
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  label {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  label {
    font-size: 1.5rem;
  }
}
