* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "font-awesome", sans-serif;
}

body {
	background-color: #eff7ff;
	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	height: 50px;
}

button {
	background-color: lightskyblue; 
	padding: 9px 25px;
	border: none;
	border-radius: 15px;
	color: white;
}

main {
	display: flex;
    background-image: url(https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: 100% 100%;
    
}

.sea, img {
	
	height: 600px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    width: 96%;
    

}
.element1 {
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2em;
	text-align: center;
	color: white;

}

.element2 {
	display: flex;
	flex-direction: row;
	font-size: 2em;
	text-align: center;
	color: white;
	
    align-items: center;
	justify-content: center;

}

.element2 form {
	
}





article {
	display: flex;
	gap: 4em;
	height: 150px;
	margin-right: 10%;
	margin-left: 10%;

}

.box1, .box2, .box3 {

	flex-basis: 100%;
	justify-content: space-between;
	height: 90%;
	width: 70%;
	text-align: center;
	padding-top: 20px;

}

div i {
	padding: 5px;
	margin-bottom: 11px;
	color: cadetblue;
}


